<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="il.org.hasadna.opentrain"
    android:versionCode="53"
    android:versionName="0.7.6">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	
    <uses-feature android:name="android.hardware.location" />
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.telephony" />
    <uses-feature android:name="android.hardware.wifi" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="il.org.hasadna.opentrain.permission.MAPS_RECEIVE" />

    <permission
        android:name="il.org.hasadna.opentrain.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"></permission>
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    
    <application
        android:name="il.org.hasadna.opentrain.application.MainApplication"
        android:allowBackup="true"
        android:debuggable="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="il.org.hasadna.opentrain.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="il.org.hasadna.opentrain.MapActivity"
            android:label="@string/app_name"></activity>

        <activity
            android:name="il.org.hasadna.opentrain.activity.PrivacyPolicyActivity"
            android:label="@string/privacy_policy_activity_label"
            android:theme="@android:style/Theme.Dialog"></activity>

        <activity
            android:name="il.org.hasadna.opentrain.activity.SettingsActivity"
            android:label="@string/settings"></activity>

        <activity
            android:name="il.org.hasadna.opentrain.activity.SettingsActivityOlder"
            android:label="@string/settings"></activity>
        
	 <activity
            android:name="il.org.hasadna.opentrain.activity.ShareDumpFilesActivity"
            android:label="@string/share_dump_files_activity_label"></activity>

        <service
            android:name=".ScannerService"
            android:icon="@drawable/ic_launcher"
            android:label="@string/service_name"
            android:process=":.ScannerService"></service>

        <service android:name="il.org.hasadna.opentrain.preferences.PrefsUpdaterService"></service>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="MY_GOOGLE_API_KEY" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="il.org.hasadna.opentrain.API_KEY"
            android:value="MY_HASADNA_API_KEY" />

    </application>

</manifest>
